/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header {
    background: #00883E; 
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    width: 100px;
    height: 100px;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    background: #006E32;
    padding: 8px 12px;
    border-radius: 5px;
}


main {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-box {
    width: 380px;
    background: white;
    padding: 25px;
    margin-top: 20px;

    border-radius: 12px;
    border: 2px solid #00883E;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box h2 {
    margin-bottom: 20px;
    color: #00883E;
}

.form-box label {
    width: 100%;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #00883E;
    border-radius: 5px;
}



.botones {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;               
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #00883E;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    min-width: 120px; 
}

button:hover {
    background: #006F33;
}



.tabla-box {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;      
}

/* ===== TABLA ===== */
table {
    width: 70%;
    max-width: 900px; /* Evita que se haga demasiado grande */
    border-collapse: collapse;
    background: white;
    margin: 0 auto; /* Asegura el centrado */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

table th, table td {
    border: 2px solid #00883E;
    padding: 10px;
    text-align: center; /* Opcional: centra texto dentro de la tabla */
}

/* ===== BOTONES DE ACCIÓN ===== */
table td a {
    display: inline-block;
    padding: 4px 10px;
    background: #333 !important;
    color: white !important;
    text-decoration: none !important;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid white;
    margin-right: 5px;
}

table td a:hover {
    background: #555 !important;
}


form {
    width: 380px;                 
    margin: 40px auto;            
    background: white;
    padding: 25px;
    border-radius: 12px;
    border: 2px solid #00883E;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
}
h2
{
    text-align: center;
}


/* ===== FOOTER ===== */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
    font-size: 14px;
}
